*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: red;
}
body{
    font-family: monsterrat;

}
nav{
    background: red;
    height: 80px;
    width: 100%;
}
lable.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a.active,a:hover{
    background: #1b9bff;
transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 952px){
    .checkbtn{
        display: block;
    } 
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: red;
        top: 80px;
        left: 0;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
    }
    #chefk:checked~ ul{
        left: 0;
    }
}
.logo img{
    width: 150px;
    float: left;
    
}
.welcome-text{
    position: absolute;
    margin: 10% 30%;
    text-align: center;
}
 .welcome-text h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
} */
  .logo1 img{
    margin-bottom: 40px 10px;
    vertical-align: right;
  margin: 40px 10px;
}
.logo2 img{
    
    vertical-align: middle;
   
}
.logo3 img{
    
    vertical-align: left;
    
}  